input[type=text] {
    background-color: #2c4b75;
    border: none;
    color: white;
}

input:focus {
    outline: none;
}

label {
    margin-top: 1.5em;
}

label, input[type=text], select {
    font-size: 1.5em;
}

.nav-tabs .active {
    background-color: #385c8f !important;
}
