input[type=text], select {
    border: none;
    padding: .5em;
}

input:focus {
    outline: none;
}

label {
    margin-top: 1.5em;
}

label, input[type=text], select {
    font-size: 1.5em;
}

.nav-tabs .active {
    background-color: #385c8f !important;
}


.label-help-wrapper {
    background-color: red;
}

.form-select {
    outline: none !important;
    border: none !important;
}

.messages {
    list-style: none;
}

.device-content {
    display: block;
    height: 100%;
}


/* -- Overview -- */
.overview .table-container,
.overview .graph-container{
    padding: 1em;
}

.overview .table-container {
    font-size: 1.2em;
}