@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.fg-primary {
    color: #e6eafb !important;
}

.fg-secondary {
    color: rgb(230, 234, 251) !important;
}

.bg-primary {
    background-color: #223754 !important;
}

.bg-secondary {
    background-color: #426eac !important;
}

.nav-link {
    color: rgb(231, 231, 231) !important;
    font-weight: 600;
}

.nav-link:hover {
    color: rgb(143, 160, 216) !important;
}

.link {
    color: rgb(46, 46, 46);
    text-decoration: none;
    transition: 0.3s ease-in-out color;
}

.link:hover {
    color:rgb(93, 80, 167);
    text-decoration: none;
}

footer a,
footer p {
    padding: 0 1em;
}

.content-wrapper {
    display: block;
    height: 100%;
    padding: 0;
}

.content {
    width: 100%;
    height: 100%;
}

.button-container {
    margin-top: 3em;
    text-align: center;
}

#logo {
    width: 70%;
    padding-left: 1em;
}

.button  {
    background-color: #7b9bc8;
    color: rgb(255, 255, 255);
    padding: .3em .6em;
    border: none;
    font-size: 1.2em;
    width: min-content;
    transition: 0.3s ease-in-out background-color, color;
}

.button:hover {
    background-color: #577bad;
    color: rgb(212, 212, 212);
}

.button-primary {

}

/* Sidebar */

.sidebar {
    width: 15em;
    border: 1px solid white;
    height: 100%;
}

.list-group-item {
    transition: 0.3s ease-in-out color, background-color;
    text-decoration: none;
    color: #e6eafb;
}

.sidebar-link {
    color: #e6eafb;
    background-color: transparent;
    border: none;
}

.sidebar-link:hover {
    background-color: #31445f;
    color:rgb(230, 234, 251);
}


/* -- Login -- */
.login-card {
    margin-top: 7em;
    box-shadow: 0 1em 1em .1em #254674;
    border-radius: 10px;
}

.login-icon {
    padding: .7em;
}

.login-icon svg {
    width: 32px;
    height: 32px;
}

.login-input[type=text],
.login-input[type=password] {
    border: none;
    font-size: 1.3em;
    padding: 0 .5em;
    font-weight: 600;
    width: 100%;
}

.login-input:focus {
    outline: none;
    background-color: #284f85 !important;
}