{% extends 'base.html' %}

{% block title %}
    Device
{% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'device.css' %}">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="offset-1 col-10">

            <!-- Outer device content page -->
            {% block device_page %}

                <!-- Device select header -->
                <div id="device-select" class="row mt-5">

                    <label class="fg-primary col-3" for="device">Current device</label>

                    <div class="col-4">
                        <select class="form-select" id="device-select">
                            {% for device in devices %}
                                {% if device == selected_device %}
                                    <option selected="{{ device }}" value="{{ device }}">
                                        {{ device }}
                                    </option>
                                {% else %}
                                    <option value="{{ device }}">{{ device }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="mt-5">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link fg-primary" id="overview" href="{% url 'overview' device_name=selected_device %}">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fg-primary" id="data" href="{% url 'data' device_name=selected_device %}">Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fg-primary" id="attributes" href="{% url 'attributes' device_name=selected_device %}">Attributes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fg-primary" id="settings" href="{% url 'settings' device_name=selected_device %}">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fg-primary" id="triggers" href="{% url 'triggers' device_name=selected_device %}">Triggers</a>
                        </li>
                    </ul>
                </div>

                <div class="device-content">
                    <div class="row mt-5">
                        <!-- Inner device content -->
                        {% block device_content %}
                            <h3>ASD</h3>
                        {% endblock %}
                    </div>
                </div>

            {% endblock %}

        </div>
    </div>

    <button id="test">TEST</button>

{% endblock %}

{% block js %}
    <script>
        var locationUrl = window.location.href.split('/');
        var endpoint = locationUrl[locationUrl.length-2];
        var deviceName = locationUrl[locationUrl.length-1];
        var selected = $(`#${endpoint}`);
        selected.addClass('active');

        var urlEndpoint = `/device/${endpoint}/`;

        $('#device-select').on('input', e => {
            let newEndpoint = urlEndpoint + e.target.value;
            window.location.href = newEndpoint;
        })

        // Synch content with backend every second.
        /*
        setInterval(() => {
            $.ajax({
                type: 'GET',
                url: urlEndpoint + deviceName,
                success: function(data){
                    $('#web-content').html(data);
                }
            });
        }, 2000);
        */
    </script>

    {% block device_js %}
    {% endblock %}
    
{% endblock %}