{% extends 'base.html' %}

{% block title %}
    New device
{% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'device.css' %}">
{% endblock %}

{% block content %}

<div class="row">
    <div class="offset-4 col-4 new-device">
        <form method="POST" action="{% url 'new_device' %}" class="d-flex flex-column fg-primary">

            {% csrf_token %}

            {% for field in form %}
                <label id="{{ field.id_for_label }}">{{ field.label }}</label>
                
                {% if field.widget_type == 'select' %}
                    <select class="form-select" aria-label="Default select example" name="{{ field.name }}">
                        {% for widget in field.subwidgets %}
                            {{ widget }}
                        {% endfor %}
                    </select>
                {% elif field.widget_type == 'text' %}
                    <input type="text" class="fg-primary" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}">
                {% endif %}

                <!-- Check if there's an error in the field! Not most efficient way to do it, but works -->
                {% for err in form.errors.items %}
                    {% if field.name == err.0 %}
                        <p>{{ err.1 }}</p>
                    {% endif %}
                {% endfor %}

            {% endfor %}

            <div class="button-container">
                <input type="submit" id="create-new-button" class="btn btn-primary" value="Create">
            </div>
        </form>
    </div>
</div>

{% endblock %}