{% extends 'device.html' %}

{% block title %}
    Device overview
{% endblock %}


{% block device_content %}

<div class="overview row">

    <div class="col-5 table-container">
        <table class="fg-primary">
            <tr>
                <td class="bold">Device name</td>
                <td>{{ selected_device.name }}</td>
            </tr>
            <tr>
                <td class="bold">Last received packet</td>
                {% if latest_packet is not None %}
                    <td>{{ latest_packet.time_diff }} seconds ago</td>
                {% else %}
                    <td>No packets received</td>
                {% endif %}
            </tr>
            <tr>
                <td class="bold">Total data sent</td>
                <td>STUFF</td>
            </tr>
        </table>
    </div>

    <div class="col-7 graph-container">
        <canvas id="datachart"></canvas>
    </div>
    
</div>


{% endblock %}

{% block device_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>

    <script>
    var ctx = document.getElementById('datachart').getContext('2d');
    Chart.defaults.color = 'white';
    Chart.defaults.fontSize = 20;


    const labels = {{ last_24_hour_labels|safe }};
    const values = {{ last_24_hour_values|safe }};

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Packets sent last 24 hours',
                data: values,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            animation: {
                duration: 0
            }
        }
    });
</script>

{% endblock %}