{% extends 'device.html' %}

{% block title %}
    Device settings
{% endblock %}

{% block device_content %}

<h3>Settings</h3>

    <div class="row">
        <div class="offset-3 col-6 new-device">
            <form method="POST" action="{% url 'settings' device_name=selected_device.name %}" class="d-flex flex-column fg-primary">

                {% csrf_token %}

                {% for field in form %}
                    <label id="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.widget_type == 'select' %}
                        <select class="form-select" aria-label="Default select example" name="{{ field.name }}">
                            {% for widget in field.subwidgets %}
                                {{ widget }}
                            {% endfor %}
                        </select>
                    {% elif field.widget_type == 'text' %}
                        <input type="text" class="fg-primary" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}">
                    {% endif %}
                {% endfor %}

                <input type="hidden" name="id" value="{{ selected_device.id }}">

                <div class="button-container">
                    <input type="submit" id="create-new-button" class="btn btn-primary" value="Save">
                </div>
            </form>
        </div>
    </div>

{% endblock %}