{% extends 'base.html' %}

{% block content_title %}
    About iotoro
{% endblock %}

{% block content %}

    <div class="row about">

        <div class="offset-1 col-10 offset-xl-3 col-xl-6">
            <section class="about-section">
                <p>
                    iotoro is an IOT platform that aims to make connecting devices to
                    the cloud <span class="emph">embarrasly</span> easy.
            
                    The platform is completely free to use and the source code for 
                    everything is open-source and can be found on github.
                </p>
            </section>

            <section class="about-section">
                <h5>Github links</h5>
                <ul>
                    <li><a class="link" href="https://github.com/victorhook/iotoro-web">iotoro website</a></li>
                    <li><a class="link" href="https://github.com/victorhook/iotoro">iotoro firmware</a></li>
                </ul>
            </section>
        
            
        </div>

    </div>




{% endblock %}